@(terms: List[Term], departments: List[Department], courses: List[Course], sections: List[String])

@main("UMBooks") {

<div class="jumbotron splash-header">
	<div class="container">
		<h1>Beacon Books</h1>
		<p>Most students spend around $1200 on textbooks per year. Don't
			be like most students. Save big on textbooks.</p>
	</div>
</div>


<div class="container">
	<h2>Search by course</h2>
	<form action="/buy/searchByCourse" method="post">
		<div class="form-group">
			<div class="row">
				<div class="col-sm-2">
					<label for="term">Term</label> <select name="term" class="term">
						@for(term <- terms) {
							<option value="@term.id">@term.name</option>
						}
					</select>
				</div>
				<div class="col-sm-4">
					<label for="deparment">Department</label> <select name="department"
						class="department">
						@for(department <- departments) {
							<option value="@department.id">@department.fullName</option>
						}
					</select>
				</div>
				<div class="col-sm-2">
					<label for="course">Course</label> <select name="course" class="course">
						@for(course <- courses) {
							<option value="@course.id">@course.number</option>
						}
					</select>
				</div>
				<div class="col-sm-2">
					<label for="section">Section</label> <select name="section" class="section">
						@for(section <- sections) {
							<option value="@section">@section</option>
						}
					</select>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-default">Go</button>
	</form>
	<hr />
	<form action="/buy/searchByIsbn" method="get">
		<div class="form-group">
			<h2>ISBN Lookup</h2>
			<label for="isbn">ISBN</label> <input type="text"
				class="form-control" name="isbn" id="isbn">
		</div>
		<button type="submit" class="btn btn-default">Go</button>
	</form>

	<form method="POST" enctype="multipart/form-data" action="buy/uploadSchedule">
		<div class="form-group">
			<h2>Upload Your Class Schedule</h2>
			<label for="upload">File input</label> <input type="file" id="upload" name="uploadSchedule">
		</div>
        <button type="submit" class="btn btn-primary">Go</button>
	</form>
</div>

}
