@(terms: List[Term], departments: List[Department], courses: List[Course], sections: List[String], umbclasses: String)
 
@main("UMBooks") {

<div class="jumbotron splash-header">
	<div class="container">
		<h1>Beacon Books</h1>
		<p>Most students spend around $1200 on textbooks per year. Don't
			be like most students. Save big on textbooks.</p>
	</div>
</div>


<div class="container">
	<h2>Search by course</h2>
	<script type="text/javascript">
	$(document).ready(function() {
		var classes = @{Html(umbclasses)};
		
		$('#term').change(function(e) {
			var val = $(this).val();
			
			var departments = [];
			for (i = 0; i < classes.length; i++) {
				if (classes[i].term == val) {
					if ($.inArray(classes[i].department, departments) == -1) {
						departments.push(classes[i].department);	
					}
				}
			}
			
			var options = "<option value=\"\"></option>";
			for (i = 0; i < departments.length; i++) {
				options += "<option value=\"" + departments[i] + "\">" + departments[i] + "</option>";
			}
			$('#department').html(options);
			$('#course').html("");
			$('#section').html("");
		});
		
		$('#department').change(function(e) {
			var val = $(this).val();
			
			var courses = [];
			var courseIds = [];
			for (i = 0; i < classes.length; i++) {
				if (classes[i].department == val) {
					if ($.inArray(classes[i].course.id, courseIds) == -1) {
						courseIds.push(classes[i].course.id);
						courses.push(classes[i].course);
					}
				}
			}
			
			var options = "<option value=\"\"></option>";
			for (i = 0; i < courses.length; i++) {
				options += "<option value=\"" + courses[i].id + "\">" + courses[i].name + "</option>";
			}
			
			$('#course').html(options);
			$('#section').html("");
		});
		
		$('#course').change(function(e) {
			var val = $(this).val();
			
			var sections = [];
			for (i = 0; i < classes.length; i++) {
				if (classes[i].course.id == val) {
					if ($.inArray(classes[i].section, sections) == -1) {
						sections.push(classes[i].section);
					}
				}
			}
			
			var options = "<option value=\"\"></option>";
			for (i = 0; i < sections.length; i++) {
				options += "<option value=\"" + sections[i] + "\">" + sections[i] + "</option>";
			}
			
			$('#section').html(options);
		});
	});
	</script>
	<form action="/buy/searchByCourse" method="post">
		<div class="form-group">
			<div class="row">
				<div class="col-sm-2">
					<label for="term">Term</label> <select name="term" id="term" class="term">
						<option value=""></option>
						@for(term <- terms) {
							<option value="@term.id">@term.name</option>
						}
					</select>
				</div>
				<div class="col-sm-4">
					<label for="deparment">Department</label> <select name="department" id="department"
						class="department">
						<option value=""></option>
					</select>
				</div>
				<div class="col-sm-2">
					<label for="course">Course</label> <select name="course" id="course" class="course">
						<option value=""></option>
					</select>
				</div>
				<div class="col-sm-2">
					<label for="section">Section</label> <select name="section" id="section" class="section">
						<option value=""></option>
					</select>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-default">Go</button>
	</form>
	<hr />
	<form action="/buy/searchByIsbn" method="get">
		<div class="form-group">
			<h2>ISBN Lookup</h2>
			<label for="isbn">ISBN</label> <input type="text"
				class="form-control" name="isbn" id="isbn">
		</div>
		<button type="submit" class="btn btn-default">Go</button>
	</form>

	<form method="POST" enctype="multipart/form-data" action="buy/uploadSchedule">
		<div class="form-group">
			<h2>Upload Your Class Schedule</h2>
			<label for="upload">File input</label> <input type="file" id="upload" name="uploadSchedule">
		</div>
        <button type="submit" class="btn btn-primary">Go</button>
	</form>
</div>

}
