@(federatedBooks: List[FederatedBook], title: String)

@main("Beacon Books - Required Books") {
    <div class="container buy_list_books">
        <h1 class="page-header">@title</h1>
        @for(fBook <- federatedBooks) {
            <div class="row">
                <div class="col-xs-3">
                    @if(fBook.hasImage()) {
                        <img class="img-thumbnail img-rounded" src="@fBook.getImageUrl()" >
                    } else {
                        <img class="img-thumbnail img-rounded" src="@routes.Assets.at("images/book.png")">
                    }
                </div>
                <div class="col-xs-9">
                    <h2>@fBook.getTitle()</h2>
                    <table class="tbl_dl">
                        <tr>
                            <td>Author</td><td>@fBook.getAuthor()</td>
                        </tr>
                        <tr>
                            <td>Edition</td><td>@fBook.getEdition()</td>
                        </tr>
                        <tr>
                            <td>ISBN</td><td>@fBook.getISBN()</td>
                        </tr>
                        <tr>
                            <td>Publisher</td><td>@fBook.getPublisher()</td>
                        </tr>
                        <tr>
                            <td>Copyright Year</td><td>@fBook.getCopyrightYear()</td>
                        </tr>
                    </table>

                    <h3>Available From</h3>

                    @if(fBook.getAmazonBook() != null) {
                        @defining( fBook.getAmazonBook() ) { book =>
                            <div class="row book_seller">
                                <div class="col-xs-2">
                                    <img class="img-responsive logo" src="@routes.Assets.at("images/amazon_logo.png")">
                                    <a class="btn btn-default btn-sm center-block" href="@book.getUrl()" role="button">View »</a>
                                </div>
                                <div class="col-xs-10">
                                    <table class="table">
                                        <tr>
                                            <th>Condition</th>
                                            <th>Price</th>
                                        </tr>
                                        @if(book.getNewPrice() > 0) {
                                            <tr>
                                                <td>New</td>
                                                <td>$@book.getNewPrice()</td>
                                            </tr>
                                        }
                                        @if(book.getUsedPrice() > 0) {
                                            <tr>
                                                <td>Used</td>
                                                <td>$@book.getUsedPrice()</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                    }

                    @if(fBook.getBookstoreBook != null) {
                        @defining(fBook.getBookstoreBook) { book =>
                            <div class="row book_seller">
                                <div class="col-xs-2">
                                    <img class="img-responsive logo" src="@routes.Assets.at("images/umb_logo.gif")">
                                    <a class="btn btn-default btn-sm center-block" href="@book.bookstoreUrl()" role="button">View »</a>
                                </div>
                                <div class="col-xs-10">
                                    <table class="table">
                                        <tr>
                                            <th>Condition</th>
                                            <th>Buy / Rent </th>
                                            <th>Price</th>
                                        </tr>
                                        @if(book.buyNewPrice > 0) {
                                            <tr>
                                                <td>New</td>
                                                <td>Buy</td>
                                                <td>$@book.buyNewPrice</td>
                                            </tr>
                                        }
                                        @if(book.buyUsedPrice > 0) {
                                            <tr>
                                                <td>Used</td>
                                                <td>Buy</td>
                                                <td>$@book.buyUsedPrice</td>
                                            </tr>
                                        }
                                        @if(book.rentNewPrice > 0) {
                                            <tr>
                                                <td>New</td>
                                                <td>Rent</td>
                                                <td>$@book.rentNewPrice</td>
                                            </tr>
                                        }
                                        @if(book.rentUsedPrice > 0) {
                                            <tr>
                                                <td>Used</td>
                                                <td>Rent</td>
                                                <td>$@book.rentUsedPrice</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        }
                    }

                    <div class="row book_seller">
                        <div class="col-xs-2">
                            <img class="img-responsive logo" src="@routes.Assets.at("images/ebay_logo.png")">
                        </div>
                        <div class="col-xs-10">TODO</div>
                    </div>
                </div>
            }
        </div>
    </div>
}
