@(editList : Listing)


@main("UMBooks") {

    <div class="jumbotron splash-header">
        <div class="container">
            <h1>Beacon Books</h1>
            <p>Most students spend around $1200 on textbooks per year.  Don't be like most students. Save big on textbooks.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2>Update Your Book</h2>
            <p>Use the form below to update the information for the book you'd like to sell</p>
            <form>



                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" value="@editList.title">
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input type="text" class="form-control" id="isbn" value="@editList.isbn">
                    </div>
                    <div class="form-group">
                        <label for="condition">Condition</label>
                        <select class="form-control" id="condition">
                            <option>New</option>
                            <!-- todo: add dynamic donditions here -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" id="upload" value="@editList.image_path">
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" id="author" value="@editList.author">
                    </div>
                    <div class="form-group">
                        <label for="publisher">Publisher</label>
                        <input type="text" class="form-control" id="publisher" value="@editList.publisher">
                    </div>

                    <div class="form-group">
                        <label for="edition">Edition/Year</label>
                        <input type="text" class="form-control" id="edition" value="@editList.edition">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" rows=5 class="form-control" id="description" >@editList.description</textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" value="@editList.price">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>

                </div>
            </form>
        </div>
    </div>
    <script>
        $('select').select2();
    </script>
}




