@(listings: List[Listing])
@main("UMBooks") {

<div class="jumbotron splash-header">
    <div class="container">
        <h1>Beacon Books</h1>
        <p>Most students spend around $1200 on textbooks per year.  Don't be like most students. Save big on textbooks.</p>
    </div>
</div>


<div class="container">
    <!-- dynamically generate rows for each listing based on the following html snippet -->
    <div class="row">

 if(@listings.isEmpty())
 {
 <p>You are not listing anything yet ... </p>
 }

else
{
    <h2>My Listings</h2>
        <div class="col-sm-1">
        	<img src="example.png" width="120" height="120" class="img-thumbnail" />
        </div>
        @for(listing <- listings) {
        <div class="col-sm-3 col-sm-offset-1">
        	<h3>Title</h3>@listing.title
        	<p>Author</p>@listing.author
        	<p>Price<p>@listing.price
        	<p># views</p>@listing.num_views
        	<p>Description</p>@listing.description
        </div>

          <div class="col-sm-3">
        <a class="btn btn-default btn-md" href="/book/edit?id=@listing.id" role="button">Edit</a>
        <a class="btn btn-default btn-md" href="/book/delete?id=@listing.id" role="button">Delete</a>
        </div>
    </div>

    }

    <!-- always display the list a book button -->
    <a class="btn btn-default btn-md" href="/book/new" role="button">List a book</a>
</div>
}
}