@(form: Form[LoginRegister.Login])
@main("UMBooks") {

<div class="jumbotron splash-header">
    <div class="container">
        <h1>Beacon Books</h1>
        <p>Most students spend around $1200 on textbooks per year.  Don't be like most students. Save big on textbooks.</p>
    </div>
</div>


<div class="container">
    @if(flash.contains("success")) {
        <div class="alert alert-success">@flash.get("success")</div>
    }
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h2>Login</h2>
			@helper.form(action = routes.LoginRegister.authenticate()) {
				@if(form.hasGlobalErrors) {
                    <div class="alert alert-danger">@form.globalError.message</div>
				}
			  <div class="form-group">
			    <label for="email">Username</label>
			    <input type="email" class="form-control" id="email" name="email" placeholder="Enter username" value="@form("email").value" required>
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
			  </div>
			  <button type="submit" class="btn btn-default">Login</button>
			}
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <h2>Register</h2>
			<form action="/register" method="post">
			  <div class="form-group">
			    <label for="first-name">First Name</label>
			    <input type="text" class="form-control" name="firstName" required>
			  </div>
			  <div class="form-group">
			    <label for="last-name">Last Name</label>
			    <input type="text" class="form-control" name="lastName" required>
			  </div>
			  <div class="form-group">
			    <label for="major">Major</label>
			    <input type="text" class="form-control" name="major">
			  </div>
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" class="form-control" name="email" required>
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" name="password" required>
			  </div>
			  <button type="submit" class="btn btn-default">Register</button>
			</form>
        </div>
    </div>
</div>

}
