@(listing: List[Listing])

@main("UMBooks") {
    <div class="container">
    <h2>Seller listings</h2>
    <form action="/book/show" method="get">
    	<div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <img src="" alt=""  class="img-thumbnail">
            </div>
			@for(book <- Book) {
			
            <div class="col-sm-10">
                <h1>Book title</h1><header>@book.getTitle</header>
                <table class="tbl_dl">
                    <tr>
                        <td>Author</td><td>@book.getAuthor</td>
                    </tr>
                    <tr>
                        <td>Edition</td><td>@book.getEDition</td>
                    </tr>
                    <tr>
                        <td>ISBN</td><td>@book.getIsbn</td>
                    </tr>
                    <tr>
                        <td>Publisher</td><td>@book.getPublisher</td>
                    </tr>
                    <tr>
                        <td>Copyright Year</td><td>@book.getYear</td>
                    </tr>
                    <tr>
                        <td>Condition</td><td>@book.getCondition</td>
                    </tr>
                    <tr>
                        <td>Price</td><td>@book.getPrice</td>
                    </tr>
                    <tr>
                        <td>Description</td> <td>@book.getDescription</td>
                    </tr>
                </table>
                </div>
                }
		</form>
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Contact Seller</h2>
                        <form>
                            <div class="form-group">
                                <label for="reason">Reason</label>
                                <select id="reason">
                                    <option>Question about book</option>
                                    <option>Purchase book</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" placeholder="Your message here">
                                </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}