@(book: Book)
@main("UMBooks") {
    <div class="container">
    <h2>Seller listings</h2>
    <form action="/book/show" method="get">
    	<div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <img src="" alt=""  class="img-thumbnail">
            </div>
            <div class="col-sm-10">
       
                <h1>Title</h1><header>@book.getTitle()</header>
                <table class="tbl_dl">
                    <tr>
                        <td>Author</td>@book.getAuthor()<td></td>
                    </tr>
                    <tr>
                        <td>Edition</td>@book.getEdition()<td></td>
                    </tr>
                    <tr>
                        <td>ISBN</td><td>@book.getISBN()</td>
                    </tr>
                    <tr>
                        <td>Publisher</td><td>@book.getPublisher()</td>
                    </tr>
                    <tr>
                        <td>Copyright Year</td>@book.getCopyrightYear()<td></td>
                    </tr>
                </table>
             
                </div>
		</form>
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Contact Seller</h2>
                        <form>
                            <div class="form-group">
                                <label for="reason">Reason</label>
                                <select id="reason">
                                    <option>Question about book</option>
                                    <option>Purchase book</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" placeholder="Your message here">
                                </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}