@main("UMBooks") {

<div class="jumbotron splash-header">
    <div class="container">
        <h1>Beacon Books</h1>
        <p>Most students spend around $1200 on textbooks per year.  Don't be like most students. Save big on textbooks.</p>
    </div>
</div>


<div class="container">
    <div class="row">
            <h2>Support</h2>
			<form action="/support" method="POST">
			  <div class="form-group">
			    <label for="category">Category</label>
			    <select class="form-control" id="category" name="category" required>
			    <option>Forgot Password</option>
			    <option>Technical Support</option>
			    </select>
			  </div>
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" class="form-control" id="email" name="email" required>
			  </div>
			  <div class="form-group">
			    <label for="message">Message</label>
			    <textarea class="form-control" id="message" name="message" required>
			    </textarea>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
    </div>
</div>

}
