@(classMap: Map[Course,UMBClass])

@main("UMBooks"){
    <div class="jumbotron splash-header">
        <div class="container">
            <h1>Beacon Books</h1>
            <p>Most students spend around $1200 on textbooks per year. Don't
                be like most students. Save big on textbooks.</p>
        </div>
    </div>
    <div class="container">
        <h2>@classMap.size Courses successfully uploaded from class schedule:</h2>
        <div class="row">
                @for((key,value) <- classMap) {
                    <div class="course-tile">
                        <div id="box">
                            <p>@key.name</p>
                            <p>@key.department</p>
                            <p>@key.number</p>
                            <p>@value.toString</p>
                            @for(book <- value.books){
                                <p>@book.title</p>
                            }
                        <button type="submit" class="btn btn-primary">Find Books</button>
                        </div>
                    </div>
                }
        </div>

    </div>
}